.btn{
    padding: 0;
    height: 40px;
    width: 40px;
    border: 1px solid gray;
}


.left{
    border-left: 2px solid purple;
}

.right{
    border-right: 2px solid purple;
}
.bottom{
    border-right: 2px solid purple;
}